/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
     font-size: 100%;
}
body {
     text-align: center;
     background: #f9f8f8;
     color: #272838;
     font-family: 'Roboto', sans-serif;
     /* background: #7e7f9a; */
}

h1 {
     font-size: 2rem;
     padding: 20px 0;
}

h2 {
     font-size: 1.5rem;
     font-weight: 700;
     padding: 0 0 10px;
}

p {
     font-size: 1.1rem;
     line-height: 1.4;
}

button {
     background: #7e7f9a;
     color: #fff;
     border: 0px;
     height: 35px;
     margin: 0 2px;
     padding: 0 10px;
}

button:hover {
     background: #9d9ec0;
}

button:active {
     background: #bcbee6;
}

input {
     color: #272838;
     height: 35px;
     border: 1px solid #7e7f9a;
     padding-left: 10px;
}



/******************************************
/* LAYOUT
/*******************************************/

section {
     text-align: center;
}

.form {
     padding-top: 80px;
}

.content {
     width: 55%;
     max-width: 700px;
     margin: 0 auto;
}

img {
     height: 200px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.slideup {
     animation: slideup 0.3s linear;
     animation-fill-mode: both;
}

@keyframes slideup{
     from {
          transform: translateY(15px);
          opacity: 0;
     }
     to {
          transform: translateY(0px);
          opacity: 1;
     }
}